* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }


.details-main{
   
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 3%;
  
}

.details-main p {
    color: #070707;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.details-top{
    display: flex;
}

.details-input label{
    font-size: 16px;
}
.details-input {
    display: flex;
    flex-direction: column;

}
.details-input input{
    width: 90%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: none;
    border: 0.5px solid rgb(211, 211, 211);
}

.details-input label {
    display: flex;
    justify-content: left;
}

.details-top-left{
    width: 50%; 
}

.details-top-right{
    width: 50%;
}
.details-mid{
   margin-top: 50px;
}

.details-mid-con{
    display: flex;
}

.details-mid-con-right{
    width: 32.7%;
}

.details-mid-con-mid{
    width: 32.7%;
}

.details-mid-con-left{
    width: 32.7%;
}

.details-bot {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.details-bot-left {
    width: 50%;    
}

.details-bot-right{
    width: 50%;
}

.details-input-image{
    display: flex;
    flex-direction: column;
}
.details-input-image input{
    width: 90%;
    height: 50px;
    padding-left: 70px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-style: none;
    border: 0.5px solid rgb(211, 211, 211);
    margin-top: 5px;
}

.image-icon-1{
    position: absolute;
    left: 10%;
    bottom: 3.8%;
    font-size: 54px;
    cursor: pointer;
}

.image-icon-2 {
    position: absolute;
    left: 31.3%;
    bottom: 3.8%;
    font-size: 54px;
    cursor: pointer;
}

.image-icon-3 {
    position: absolute;
    left: 52.56%;
    bottom: 3.8%;
    font-size: 54px;
    cursor: pointer;
}

.image-icon-4 {
    position: absolute;
    left: 73.8%;
    bottom: 3.8%;
    font-size: 54px;
    cursor: pointer;
}


.details-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.details-button button {
    width: 10%;
}