.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #808080; */
  background-image: url(../images/bck_loginn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.login-container {
  width: 30%;
  height: 30%;
  background-color: #dbdbdb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: black;
}

.input-container {
  margin-bottom: 10px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}
