* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navBar {
  height: 70px;
  width: 100%;
  background-color: #063c37;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
  color: #accfa5;
  padding-left: 40px;
  font-family: "Poppins", sans-serif;
  /* border-bottom: 1px solid rgb(0, 0, 0, 0.5); */
}

.navBar p {
  font-size: 2.2rem;
  width: 50vw;
}

.logo {
  width: auto; 
  height: 70px;
  margin-right: 15px;
}

/* Other styles for your navbar */

.print-btn {
  margin-left: 33%;
}

.pro-btn {
  width: 130px;
  height: 45px;
  font-size: 1.1rem;
  font-weight: 900;
}