.sidebar-container {
  display: flex;
  height: calc(100vh - 70px);
  
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar {
  max-height: 85vh;
  font-family: "Saira", sans-serif;
  background-color: #76a56d;
}

.selected-menu-item {
  font-weight: 700;
  background-color: #198d57;
  font-size: 17px;
  color: rgb(255, 255, 255);
}

.selected-menu-item:hover {
  background-color: red !important;
  color: black !important;
}

.notselected-menu-item {
  font-size: 15px;
  font-weight: 600;
}

.sidebar-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  height: 100%;
  background-color: rgb(175, 204, 169, 0.58);
}

.sidebar-btn {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.1s;
  color: black;
}

.sidebar-btn:hover {
  transform: scale(1.2);
}

.content-container {
  flex: 1;
  overflow-y: scroll;
}
