.sidebar-container {
    display: flex;
    height: calc(100vh - 70px);
  }
  
  .content-container {
    flex: 1;
    overflow-y: scroll;
  }

  .sidebar {
    min-height: 85vh;
  }
  
  .selected-menu-item {
    font-weight: 700;
    background-color: aliceblue;
  }

  .sidebar-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .sidebar-nextbtn, .sidebar-prvbtn {
    width: 90px;
    height: 40px;
  }



    