/* VisualInspection.css */

/* Style for the main container */
.vi-main-con {
  font-family: Arial, sans-serif;
  padding: 50px 100px;
  padding-bottom: 50px !important;
  text-align: center;
  background-color: #9ec696;
  min-height: 100vh;
}

.vi-content {
  padding: 40px 50px;
  border-radius: 15px;
  background-color: #ecf9f2;
}

.progress {
  margin-bottom: 50px;
}

.vi-content-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

.vi-content-top p {
  font-size: 1.75rem;
  font-weight: 600;
  color: black;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

.vi-content-top-img-con {
  display: flex;
  flex-direction: column;
}

.vi-content-top-btns {
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.vi-content-top-btns label {
  width: 120px;
  margin-right: 20px;
}

.vi-content-top-btns button {
  width: 120px;
}

.vi-content-top-img {
  display: grid; /* Use CSS Grid for the image grid */
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 10px; /* Gap between grid items */
  /* max-height: 400px;
  overflow: scroll; */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vi-content-top-img img {
  max-width: 100%;
}

.vi-content-top-img button {
  width: 200px;
  margin-top: 10px;
}

/* Style for the table */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table headers */
.table th {
  text-align: center;
  background-color: #dfe8e2;
  font-size: 15px;
  font-family: "Merriweather Sans", sans-serif;
}

/* Style for table rows */
.table td {
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
  font-family: "DM Sans", sans-serif;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  padding-top: 9px;
}

/* Style for the radio buttons */
input[type="radio"] {
  display: none;
}

/* Style for the labels and rating colors */
label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-color {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  flex-shrink: 0;
}

/* Colors for different rating options */
.rating-color.good {
  
  background-color: rgb(0, 128, 0);
}

.rating-color.normal {
  background-color: rgb(136, 140, 9);
}

.rating-color.nr {
  background-color: rgb(255, 0, 0, 0.5);
}

.rating-color.na {
  background-color: rgb(128, 128, 128, 0.5);
}

/* Style for selected radio buttons */
input[type="radio"]:checked + .rating-color.rating-color {
  border-style: solid 1px black;
}

input[type="radio"]:checked + .rating-color.rating-color.good {
  background-color: rgb(20, 192, 20);
}

input[type="radio"]:checked
  + .rating-color.rating-color.rating-color.rating-color.normal {
  background-color: rgb(228, 228, 15);
}

input[type="radio"]:checked + .rating-color.rating-color.rating-color.nr {
  background-color: rgb(255, 0, 0);
}

input[type="radio"]:checked + .rating-color.rating-color.rating-color.na {
  background-color: rgb(128, 128, 128);
}

.next-btn {
  margin-top: 50px;
  width: 100px;
}









/* Add this CSS to your stylesheet */
.rating-label {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

/* Style for different rating options */
.rating-label.good {
  background-color: rgb(22, 195, 22);
}

.rating-label.normal {
  background-color: rgb(218, 215, 35);
}

.rating-label.nr {
  background-color: rgb(255, 0, 0);
}

.rating-label.na {
  background-color: rgb(128, 128, 128);
}
